@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif !important;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    box-sizing: border-box;
    background-color: var(--color-headings);
}

:root {
    --bg: #fcfcfc;
    --bg-panel: #434343;
    --color-headings: #fff;
    --colors-headings: #000;
    --color-text: #0e0e0e;
    --colors-text: #0e0e0e;
    --col-text: #f5f5f5;
    --color-main: #16a9d6;
  }

h1{
    font-size: 3.5rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2.5rem;
}

h4{
    font-size: 2rem;
}

h5{
    font-size: 1.5rem;
}

h6{
    font-size: 1rem;
}

p{
    font-size: 0.9rem;
}

a{
    text-decoration: none;
    color: var(--color-text);
    font-weight: 500;
}

header{
    padding: 10px 0;
    background-color: var(--color-bg);
    border-bottom: 1px solid var(--col-text);
}

header .search form{
    display: flex;
    margin: 5px 0;
}

.lines {
    width: 60px;
    height: 2px;
    background-color: var(--color-text);
}

.btns{
    width: 100%;
    height: 40px;
    padding: 5px;
    margin: 10px 0;
    border: 0;
    background-color: var(--color-main);
    color: var(--color-headings);
    border-radius: 5px;
}

.news{
    background-color: var(--colors-text);
    padding: 5px 0;
    color: var(--col-text);
}

.icons{
    margin: 12px 0;
}

.icons div{
    margin: 0 2em 0 0;
}
.icons div:hover{
    cursor: pointer;
}

.icons div p{
    font-size: 0.8rem;
    padding: 5px 0 0 2px;
}

.icons .cart_num{
    position: absolute;
    background-color: var(--color-main);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    top: 50px;
    right: 105px;
    z-index: 99;
    font-size: 0.8rem;
    padding: 0;
}

.navigation .navbar-nav .nav-item a{
    font-size: 0.9rem;
    padding: 0 2rem 0 0;
}
 
.navigation .navbar-nav .nav-item .submenu{
    width: 200px;
    position: absolute;
    top: 37px;
    background-color: #fff !important;
    padding: 10px;
    display: block;
    visibility: hidden;
    opacity: 0;
    z-index: 99;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2); 
}

.navigation .navbar-nav .nav-item:hover .submenu{
    visibility: visible;
    opacity: 1;
    
}

.navigation .navbar-nav .nav-item .submenu li{
    list-style: none;
    padding: 10px;
}



.banner{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 30px 0;
}


.category{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /* background: linear-gradient(322deg, #0e0e0e , rgba(186, 74, 255, 0) 70%), linear-gradient(178deg, #0e0e0e, rgba(0, 138, 255, 0) 70%), linear-gradient(24deg, #0e0e0e , rgba(0, 255, 198, 0) 35%); */
    background-color: var(--color-text);
    padding: 50px 0;
}

.category .mar{
    margin: 0 0 20px 0;
}

.category .cat_box{
    --size: 6rem;
    --transition-duration: 500ms;
    --transition-easing: ease-out;
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(2px);
    border-radius: 0.5rem;
    box-shadow: 0px calc(var(--size) / 6) calc(var(--size) / 3) rgba(0, 0, 0, 0.1);
    transition: transform var(--transition-duration) var(--transition-easing);
    overflow: hidden;
    position: relative;

}

.category .cat_box::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: -125%;
    background: rgba(255, 255, 255, 0.4);
    opacity: .5;
    border-radius: 10px;
    transition: left var(--transition-duration) var(--transition-easing);
    transform: skew(45deg);
}

.category .cat_box p{
    padding: 0 auto;
    text-align: center;
    position: relative;
    z-index: 99;
    color: var(--color-headings);
    font-size: 0.8rem;
    text-transform: uppercase;
}

.category .cat_box:hover{
    
    transform: translateY(-15%);
    
}
.category .cat_box:hover::before {
    left: 150%;
}

.category h5{
    padding: 5px 0;
    margin: 0;
}

.category .view_cat{
    padding: 5px 0 0 0;
}

.category .view_cat a {
    font-size: 0.8rem;
    color: var(--color-headings);
}


.category .lines {
    width: 60px;
    height: 2px;
    background-color: var(--color-text);
}


.brand {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 50px 0;
    background-color: var(--bg);
}

.brand .brand_box {
    width: 100%;
    height: 100%;
    background-color: var(--color-headings);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.2);
}

.brand .brand_box .bbb h3 {
    font-size: 0.9rem;
    padding: 10px 0 0 0;
    font-weight: 600;
}


.brand .brand_box .bbb p {
    font-size: 0.6rem;
    font-weight: normal;
    padding: 0;
    margin: 0;
    color: #333;
}

.brand .lines {
    width: 60px;
    height: 2px;
    background-color: var(--color-text);
}

.brand .view_cat{
    padding: 5px 0 0 0;
}

.brand .view_cat a {
    font-size: 0.8rem;
    color: var(--color-text);
}


.products {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 50px 0;
    background-color: var(--color-headings);
}

.products .lines {
    width: 60px;
    height: 2px;
    background-color: var(--color-text);
}

.products .prod_img{
    height: 146px;
    margin: 0 0 10px 0;
}

.products .location {
    font-size: 0.7rem !important;
    margin: 0 0 10px 0;
}

/* .products .location .iconsize{
    font-size: 0.2rem !important;
} */

.products .btt{
    margin: 20px 0 0 0;
}

/* .products .btt button{
    width: 50px;
    height: 40px;
    padding: 5px;
    border: 0;
    background-color: var(--color-main);
    color: var(--color-headings);
    border-radius: 5px;
} */

.products .btt span{
    font-size: 0.6rem;
    padding: 10px 0 0 0;
    font-weight: 500;
}

.product{
    padding: 20px 15px;
    border-radius: 5px;
    transition: 0.5s ease-out;
    border: 1px solid #f5f5f5;
    background-color: var(--color-headings);
    position: relative;
    
}

.product:hover{
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.product h5{
    font-size: 1.1rem;
}

.product h6{
    font-size: 0.8rem;
    font-weight: 600;
    margin: 0;
}
.product s{
    font-size: 0.7rem;
    margin: 0;
    font-weight: 500;
}

.product .discount{
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: var(--color-main);
    padding: 2px 3px;
    font-size: 0.8rem;
    border-radius: 3px;
}


.adverts {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 50px 0;
    background-color: var(--col-text);
}


.fashion{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 50px 0;
    background-color: var(--color-headings);
}

.fashion .fashions{
    margin: 20px 0;
}


.art{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 50px 0;
    background-color: var(--col-text);
}


.art .product{
    padding: 20px 15px;
    border-radius: 5px;
    transition: 0.5s ease-out;
    border: 1px solid #f5f5f5;
    background-color: #f2f2f2;
    position: relative;
    
}

.art .fashions{
    margin: 20px 0;
}


.beauty{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 50px 0;
    background-color: var(--color-headings);
}


.beauty .product{
    padding: 20px 15px;
    border-radius: 5px;
    transition: 0.5s ease-out;
    border: 1px solid #f5f5f5;
    position: relative;
    
}

.beauty .fashions{
    margin: 20px 0;
}


.footer{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 50px 0;
    background-color: var(--color-text);
}

.footer .foot h5{
    color: var(--color-headings);
    font-size: 0.8rem;
    padding:  0 0 10px 0;
    font-weight: 600;
    text-transform: uppercase;
}

.footer .foot ul{
    margin: 0;
    padding: 0;
}

.footer .foot ul li{
    list-style: none;
    padding: 0 0 8px 0;
}

.footer .foot ul li a{
    color: var(--color-headings);
    font-size: 0.7rem;
}
.footer .foot ul li a:hover{
    text-decoration: underline;
}


.place_holder{
    width: 100%;
    height: 100%;
    padding: 20px 0;
    background-color: var(--color-main);
    margin: 0 auto;
}

.place_holder .place_name h3{
    color: var(--color-headings);
    text-align: center;
    font-size: 1.7rem;
    margin: 0;
    padding: 0;
}

.contact_us{
    padding: 50px 0;
}

.help_center{
    padding: 50px 0;
}

.help_center .box{
    background-color: var(--color-main);
    padding: 15px 0;
    border-radius: 8px;
}

.help_center .box h6{
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    color: var(--color-headings);
}

.help_center .boxx img{
    width: 100px;
    height: 100px;
    margin: 0 0 8px 0;
}

.help_center label{
    font-size: 0.8rem;
    font-weight: 600;
}
.help_center .help_text{
    font-size: 0.7rem;
    padding: 0;
    margin: 0;
    word-spacing: .1rem;
    letter-spacing: .0rem;
}































